.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu-icon {
    width: 80px;
    height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon div {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: black;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.line-1 {
    transform: translateY(-18px);
}
.line-2 {
    opacity: 1;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.line-3 {
    transform: translateY(18px);
}
.menu-icon.active .line-2 {
    transform: translateX(-10px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.menu-icon.active .line-1,
.menu-icon.active .line-3 {
    transition-delay: 0.2s;
}
.menu-icon.active .line-1 {
    transform: rotate(45deg);
}
.menu-icon.active .line-3 {
    transform: rotate(-45deg);
}
